/.venv
/Project 1
/chap1_PS
/chp10_PS
/chp11_PS
/chp2_PS
/chp3_PS
/chp4_PS
/chp5_PS
/chp6_PS
/chp7_PS
/chp8_PS
/chp9_PS
/file.txt
/first.py
/highscore.txt
/log.txt
/myfile.txt
/poems.txt
/renamed_by_python.txt
/tables
/that.txt
/this.txt